In [121]:
import pandas as pd
from google.colab import drive 
import numpy as np


drive.mount('/drive')
data = pd.read_csv("/drive/MyDrive/class_analise_credito.csv")
data.drop(data[data["ENTRADA"] == 0].index, inplace=True)

media = data["ENTRADA"].mean()
novodata = data
novodata.drop(novodata[abs(novodata["ENTRADA"] - media) > 50].index, inplace=True)

novodata2 = novodata.drop(['ESTC', 'TIPOR', 'VBEM', 'NPARC', 'TEL', 'RESMS', 'target'], axis=1)
novodata2.insert(5, 'NOVACOLUNA', ((novodata2['VPARC'] - novodata2["IDADE"]) * 0.31).astype(int))

novodata2.reindex(np.random.permutation(novodata2.index))


novodata2 = novodata2.sort_values(by='IDADE', ascending=False)
#O critÃ©rio utilizado foi a idade do usuÃ¡rio, no caso a coluna 'IDADE', pondo como primeira linha a que tem a maior idade.

agrupamento = novadata2.groupby('IDADE')[['RENDA']].count()
#Nesse caso nÃ£o utilizei coluna com string pois nessa dataframe nÃ£o tinha.

novodata2['ValorNDEP'] = novodata2['NDEP'].map(
    {3: 'NDEP ALTO', 0: 'NDEP NULO'})
novodata2 = novodata2.drop("NDEP", axis = 1)

novodata2.to_csv('/drive/MyDrive/novodata2.csv')
novodata2.to_json('/drive/MyDrive/novodata2.json')



display(novodata2)

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

      RENDA  VPARC  IDADE  ENTRADA  NOVACOLUNA  ValorNDEP
339     507     83     68      150           4  NDEP NULO
943    1697    119     68      119          15  NDEP NULO
327     786    119     67      119          16  NDEP NULO
1203   1258    119     67      119          16  NDEP NULO
733    4005    142     67      142          23  NDEP NULO
...     ...    ...    ...      ...         ...        ...
426     850    124     24      124          31  NDEP NULO
375     500    119     23      119          29  NDEP NULO
144     735     62     22      159          12  NDEP NULO
980     466    116     22      150          29  NDEP NULO
700     310     63     20      150          13  NDEP NULO

[124 rows x 6 columns]